.form-control:focus {
  border-color: inherit;
  box-shadow: none;
  outline: none;
}

.hover-primary:hover {
  background-color: rgb(73, 0, 200);
}

.custom-input::placeholder {
  color: white;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.song-title {
  font-size: clamp(1.3rem, 3vw, 1.7rem);
}

.song-artistName {
  font-size: clamp(1.1rem, 2vw, 1.3rem);
}

.song-genre {
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}
